<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thread.seopftware.mychef">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Login.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Login.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.Login_choose" />
        <activity android:name=".Login.Login_login" />
        <activity android:name=".Login.Login_register" />
        <activity android:name=".Register.Login_register_chef" />
        <activity
            android:name=".HomeUser.Home_user"
            android:label="@string/title_activity_home_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeChef.Home_chef"
            android:label="@string/title_activity_home_chef"
            android:theme="@style/AppTheme" />
        <activity android:name=".Register.Register_chef" />
        <activity android:name=".Register.Register_chef2" />
        <activity android:name=".Register.Register_chef3" />
        <activity android:name=".Register.Register_chef4" />
        <activity android:name=".Register.Register_chef5" />
        <activity android:name=".Register.Register_user" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".HomeChef.Fragment1_Menu" />
        <activity android:name=".HomeChef.Fragment2_Chat" />
        <activity android:name=".HomeChef.Fragment3_Profile" />
        <activity android:name=".HomeChef.Fragment4_Call" />
        <activity android:name=".HomeChef.Fragment5_Setting" />
        <activity android:name=".HomeChef.Home_Foodadd" />
        <activity
            android:name=".HomeChef.Home_Choosearea"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".HomeChef.Fragment_Order" />
        <activity android:name=".HomeChef.Home_Foodmodify" />
        <activity android:name=".HomeChef.Home_Foodlook" />
        <activity android:name=".HomeChef.Home_Chef_Introduce" />
        <activity android:name=".HomeChef.Chef_Change_Appeal" />
        <!-- <activity android:name=".HomeUser.Fragment_User_Menu"/> -->
        <!-- <activity android:name=".HomeUser.Fragment1_User_Order"/> -->
        <!-- <activity android:name="HomeUser.Fragment2_User_Chat"/> -->
        <!-- <activity android:name="HomeUser.Fragment3_User_Call"/> -->
        <!-- <activity android:name="HomeUser.Fragment4_User_Setting"/> -->
        <activity android:name=".HomeChef.Chef_Change_Password" />
        <activity android:name=".HomeUser.Fragment_User_Cart" />
        <activity android:name=".HomeUser.Fragment_User_Search" />
        <activity android:name=".HomeUser.ChildFragment" />
        <activity android:name=".HomeUser.User_Payment_CardRegister" />
        <activity android:name=".HomeUser.User_Payment" />
        <activity android:name=".HomeUser.User_Payment_Address" />
        <activity android:name=".Chatting.User_Reply" />
        <activity android:name=".Chatting.Chat_Client" />
        <activity android:name=".Home_Foodlook_Review"></activity>
    </application>

</manifest>